  
  <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#layout" aria-expanded="false" aria-controls="collapseExample">
    Layout
  </button>
  <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#design" aria-expanded="false" aria-controls="collapseExample">
    Design
  </button>
  <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#insert" aria-expanded="false" aria-controls="collapseExample">
    Insert
  </button>
  <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#table" aria-expanded="false" aria-controls="collapseExample">
    Table
  </button>


  
<div class="collapse" id="layout" style="">
  <div class="card card-body">
    見出し h1 <br>
    見出し h2 <br>
    見出し h3 <br>
    見出し h4 <br>
    見出し h5 <br>
    見出し h6	<br>
    # 見出し h1 <br>
    ## 見出し h2 <br>
    ### 見出し h3 <br>
    #### 見出し h4 <br>
    ##### 見出し h5 <br>
    ###### 見出し h6 <br>
    リスト <br>
    リスト <br>
      リスト <br>
    - リスト <br>
    - リスト <br>
      - リスト
  </div>
</div>
<div class="collapse" id="design" style="">
  <div class="card card-body">
    強調（太字）	 <br>
    **text**  <br>
    強調（斜体）	 <br>
    *text*  <br>
    打ち消し線	 <br>
    ~~text~~  <br>
    コードのインライン表示	 <br>
    `code`  <br>
    引用  <br>
    引用  <br>
    > text <br>
    >> text
  </div>
</div>
<div class="collapse" id="insert" style="">
  <div class="card card-body">
    リンク <br>
    [title](http://...)  <br>
    画像埋め込み  <br>
    ![alt](http://...)  <br>
    水平線	 <br>
    ---  <br>
    qiita.rb  <br>
    puts'code with syntax'  <br>
    ```ruby:qiita.rb  <br>
    puts 'code with syntax'  <br>
    ```  <br>
    Markdownのエスケープ  <br>
    \
  </div>
</div>
<div class="collapse" id="table" style="">
  <div class="card card-body">
    | Left align       |       Right align |    Center align    | <br>
    |:-----------------|------------------:|:------------------:| <br>
    | This             |              This |        This        | <br>
    | column           |            column |       column       | <br>
    | will             |              will |        will        | <br>
    | be               |                be |         be         | <br>
    | left             |             right |       center       | <br>
    | aligned          |           aligned |      aligned       |
  </div>
</div>