<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Qoota</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Article</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Group</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Signup</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="media">
  <img class="d-flex mr-3" data-src="holder.js/64x64?theme=sky" alt="64x64" src="https://shops.aeonsquare.net/img/goods/A118/C/2327951119185_1.jpg" data-holder-rendered="true" style="width: 80px; height: 80px; margin: 20px 0 0 20px;">
  <div class="card-body">
    <h4 class="card-title">Article title</h4>
    <h6 class="card-subtitle mb-2 text-muted">Article subtitle</h6>
    <p class="card-text">
      Some quick example article explain to build on the article title
      and make up the bulk of the article's content.
    </p>
    <a href="/" class="card-link">Article link</a>
    <a href="/" class="card-link">Edit</a>
    <a href="/" class="card-link">Delete</a>
    <a href="/" class="card-link"><i class="fas fa-thumbs-up"></i></a>
    <a href="/" class="card-link"><i class="far fa-heart"></i></a>
  </div>
</div>

<div class="media">
  <img class="d-flex mr-3" data-src="holder.js/64x64?theme=sky" alt="64x64" src="https://shops.aeonsquare.net/img/goods/A118/C/2327951119185_1.jpg" data-holder-rendered="true" style="width: 80px; height: 80px; margin: 20px 0 0 20px;">
  <div class="card-body">
    <h4 class="card-title">Article title</h4>
    <h6 class="card-subtitle mb-2 text-muted">Article subtitle</h6>
    <p class="card-text">
      Some quick example article explain to build on the article title
      and make up the bulk of the article's content.
    </p>
    <a href="/" class="card-link">Article link</a>
    <a href="/" class="card-link">Edit</a>
    <a href="/" class="card-link">Delete</a>
    <a href="/" class="card-link"><i class="fas fa-thumbs-up"></i></a>
    <a href="/" class="card-link"><i class="far fa-heart"></i></a>
  </div>
</div>

<div class="d-flex justify-content-center">
<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" href="#!" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#!">1</a></li>
    <li class="page-item active">
      <a class="page-link" href="#!">2 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="#!">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#!">Next</a>
    </li>
  </ul>
</nav>
</div>
