<p id="notice"><%= notice %></p>

<h1>Qiita Items</h1>

<table>
  <thead>
    <tr>
      <th style="text-align: center;">Title</th>
      <th>Like count</th>
    </tr>
  </thead>

  <tbody>
    <% @qiita_items.each do |qiita_item| %>
      <tr>
        <td><%= link_to "#{qiita_item[:title]}", qiita_item[:url] %></td>
        <td style="text-align: center;"><%= qiita_item[:likes_count] %></td>
    <% end %>
  </tbody>
</table>

<br>

